
  @font-face {
    font-family: "Naive Inline Medium";
    font-style: normal;
    font-weight: 410;
    src: local("NaiveInline-Medium"), local('NaiveInline-Medium'), url("../font/NaiveInline-Medium-Regular.otf") format('opentype');
  }

  @font-face {
    font-family: "Naive Inline";
    font-style: normal;
    font-weight: 410;
    src: local("NaiveInline-Medium"), local('NaiveInline-Medium'), url("../font/NaiveInline-Medium-Regular.otf") format('opentype');
  }

  @font-face {
    font-family: "Mensch Mensch Regular";
    font-style: normal;
    font-weight: 400;
    src: 
    local("Mensch Regular"), 
    local('MenschRegular'), 
    url("../font/MenschRegular-Regular.ttf") format('truetype');
  }

  @font-face {
    font-family: "Mensch";
    font-style: normal;
    font-weight: 400;
    src: 
    local("Mensch Regular"), 
    local('MenschRegular'), 
    url("../font/MenschRegular-Regular.ttf") format('truetype');
  }

  @font-face {
    font-family: "Maven Pro Regular";
    font-style: normal;
    font-weight: 400;
    src: 
    local("Mensch Regular"), 
    local('MenschRegular'), 
    url("../font/MavenPro-Regular.ttf") format('truetype');
  }

  @font-face {
    font-family: "Teko Regular";
    font-style: normal;
    font-weight: 400;
    src: 
    url("../font/Teko-Regular.ttf") format('truetype');
  }

  @font-face {
    font-family: "Teko Light";
    font-style: normal;
    font-weight: 400;
    src: 
    url("../font/Teko-Light.ttf") format('truetype');
  }

   @font-face {
    font-family: "BenchNine Regular";
    font-style: normal;
    font-weight: 400;
    src: 
    url("../font/BenchNine-Regular.ttf") format('truetype');
  }

   @font-face {
    font-family: "RobotoCondensed Regular";
    font-style: normal;
    font-weight: 400;
    src: 
    url("../font/RobotoCondensed-Regular.ttf") format('truetype');
  }

     @font-face {
    font-family: "RobotoCondensed Light";
    font-style: normal;
    font-weight: 400;
    src: 
    url("../font/RobotoCondensed-Light.ttf") format('truetype');
  }
  
  