div.first-level {
  font-family: "Maven Pro Regular";
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  text-transform: none;
  letter-spacing: normal;
  font-size: 16px;
  color: #bd9e3a;
  background-color: transparent;
  background-image: url(../img/flowery.png), none;
  background-position: center top, left top;
  background-repeat: no-repeat, repeat;
  text-align: center;

  background-size: 800px auto, auto;
  padding: 70px 0 0 0;
}



@media (min-width: 544px) {
  .name {
      font-size: 36px !important;
      background-size: 800px auto, auto;
  }
  div.first-level{
    background-size: 1200px auto, auto;
    padding: 95px 0 0 0;
  }
}
@media (min-width: 768px) {
  .name {
      font-size: 42px !important;
  }
  div.first-level{
    background-size: 1600px auto, auto;
    padding: 120px 0 0 0;
  }
}
@media (min-width: 992px) {
  .name {
      font-size: 48px !important;
  }
}


.name {
    
    font-family: "Naive Inline medium";
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    color: #bd9e3a;
    margin-top: 0px;
    margin-bottom: 18px;
    font-size:24px;
}




.and {
  font-family: "Naive Inline Medium";
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    text-transform: none;
    letter-spacing: 1.7px;
    font-size: 18.2px;
    color: #bd9e3a;
    font-size: 20.8px !important;
    margin-top: 0px;
    margin-bottom: 18px;
}

.navbar-container{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
}
.navbar-list {
  list-style:none;
    font-family: "Mensch Mensch Regular";
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    text-transform: none;
    letter-spacing: 1.8px;
    font-size: 16.8px;
}
.navbar-list li {
    margin: 0 15px !important;
  padding: 0 !important;
}
.navbar-layers {  
    list-style:none;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;

}
@media (min-width: 544px){
  .navbar-list {
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      flex-direction: row !important;
      flex-wrap: wrap !important;
      padding: 20px 0 !important;
  }
}

#main-image{
  display:block;
  width:100%;
  margin-bottom:30px;
  box-sizing:border-box;
  border:solid 8px #fff;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.25);
  vertical-align: middle;
}
.image-and-annoucenment-container{
    margin: 0 auto;
    max-width: 1170px;
    box-sizing: border-box;
    text-align: center;
    padding-bottom:50px;

}
.image-container {
  padding:15px;
}
.announcement-container h3 {
  font-family: "Maven Pro Regular";
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    text-transform: none;
    letter-spacing: 0.3px;
    font-size: 19.2px;
    color: #bd9e3a;
    margin: 10px;
    max-width: 800px;
}

.wedding-time {
    font-family: "Naive Inline Medium";
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    text-transform: none;
    letter-spacing: 0.7px;
    font-size: 24px;
    color: #bd9e3a;
}

@media (min-width: 768px) {
  .wedding-time {
      font-size: 32px !important;
  }
}
@media (min-width: 544px) {
  .wedding-time {
      font-size: 28px !important;
  }
}

.smallGraphic {
      display: inline-block;
    text-indent: -10000px;
    width: 100px;
    height: 100px;
    background-image: url(../img/flowery_small.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.our-story-header {

  font-family:"Naive Inline medium";
  font-weight:400;
  font-style:normal;
  line-height:1;
  text-transform:none;
  letter-spacing:normal;
  font-size:28.8px;
  color:#bd9e3a;
  margin:0;
  padding-bottom:10px;
}
.our-story-container {
  margin: 0 auto;
  max-width: 1170px;
  box-sizing: border-box;
}

body{
      font-family: "Maven Pro Regular";
      /*text-transform: uppercase!important;*/

        font-weight: 400;
        font-style: normal;
        line-height: 1.6;
        text-transform: none;
        letter-spacing: normal;
        font-size: 16px;
        margin: 0;
        background-color: #fff;
        background-image: none;
        background-repeat: repeat;
        background-position: left top;
        color: #bd9e3a;
        font-variant-ligatures: none;}body a{color: #bd9e3a;}body a:focus,body a:hover,body a:active{color: rgb(197, 167, 68);
        margin-bottom:50px;
        }


        .rsvp-divider {
          display: inline-block;
    height: 50px;
    width: 200px;
    background-image: url(../img/root_SmallDivider.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

#rsvp-frame {

  width:100%;
  height:1080px;

}

.freebirdFormviewerViewHeaderRequiredLegend { 
  display:none;
 }

 .coming-soon-link { 
  color: #c1c1c1;
    pointer-events: none;
  cursor: default;
  }

  .not-active {
  cursor: default;
}

.large-divider {
    height: 10px;
    background-image: url(../img/root_LargeDivider_vlfrNzn.png);
    background-size: 100% 50px;
    background-position: center center;
    background-repeat: repeat-x;
    width: 100%;
    margin-bottom: 40px;
}


.our-story-content {
  white-space: pre-wrap;
    margin-left: 15%;
    margin-right: 15%;
}
#footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 70%;
    right: 0;
    height: 30px;
    background-color: black;
    color: white;
    cursor: pointer;  

}


@media (max-width: 544px) {
  #footer {
    width:100%;
    left:0;
  }
}



/*for the loader*/


.loading-container-full {
    top:0%;
    left:0%;
    width:100%;    
    height:100%;
    position:fixed;
    background-color:white;
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
    z-index:2000;
}

.loader {
  position: relative;
  top:50%;
  margin: 0 auto;
  width: 100px;
}
.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@-webkit-keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}
@keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}
#accessModal .container {
  position: relative;
  display: flex;
  justify-content: center;
  top:30%;
}

.loading-container-full {
  /*display:none;*/
}

.rsvp-blinking {
  animation: blinker 1.5s linear infinite;
  text-decoration: underline;
  font-size: 18.8px;
}


sup {
    font-size: 12px;
    top: -1em;
}


@keyframes blinker {  
    25%, 75% {
    opacity: 0.5;
  }
  50% {
    /*font-size: 19.8px;*/
    opacity: 0.2;
     }
}

a.link {
    font-weight: 700;
    text-decoration: underline;
}
