<div class="first-level" >
			<div class="name"">
				<span>Gianpaolo</span>
				<span class="and">&</span>
				<span>Julien </span>
			</div>
</div>
<div class="navbar-container" id="navbar-container">
	<nav class="navbar navbar-expand-lg navbar-light">
	<ul class="navbar-layers">
			<li>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			</button>
			</li>
			<li>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-list">
					<li>
						<a class="rmq-" data-radium="true" data-reactid="42" href="./" data-custom-lang='nav-home'>Home</a>
					</li>
					<li>
						<a class="rsvp-blinking" data-radium="true"  title="hoverin' words" data-reactid="44"  data-custom-lang='nav-rsvp' href="./rsvp.html" style="">RSVP</a>
					</li>
					<li>
						<a class="coming-soon-link not-active"  data-radium="true" data-reactid="48" href=""   data-custom-lang='nav-agenda'  style="">Programma</a>
					</li>
					<li>
						<a class="coming-soon-link not-active"  data-radium="true" data-reactid="52" href=""   data-custom-lang='nav-info'  style="">Info</a>
					</li>
					<li>
						<a class="coming-soon-link not-active" title="hoverin' words" data-radium="true" data-reactid="46"  data-custom-lang='nav-photos'  href="./photos.html" style="">Photos</a>
					</li>
					<li>
						<a class="coming-soon-link not-active"  data-radium="true" data-reactid="54" href=""   data-custom-lang='nav-gifts' style=""></a>
					</li>

				</ul>
			</div>
			</li>
	</ul>
	</nav>
	<div class="large-divider">
	</div>
</div>